<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   					   http://www.springframework.org/schema/tx 
	   					   http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	   					   http://www.springframework.org/schema/aop 
	   					   http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
	default-autowire="byName">

	<beans profile="test">
		<context:component-scan base-package="com.renren" />
		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:config/config-test.properties</value>
				</list>
			</property>
		</bean>
		<import resource="classpath:persist/mysql-datasource-test.xml" />
	</beans>

<!-- 	<beans profile="production"> -->
<!-- 		<context:component-scan base-package="com.renren.fenqi.airisk" /> -->
<!-- 		<import resource="classpath:persist/mysql-datasource-production.xml" /> -->
<!-- 	</beans> -->


</beans>